#!/usr/bin/env bash
set -e

DIR=`pwd`

if [ ! -e "node_modules" ]; then
bun i
fi

if [ ! -d "docs/.vuepress/public" ] ; then
git clone --depth=1 ssh://git@ssh.github.com:443/rmw-link/public.git docs/.vuepress/public
fi

PATH="$DIR/.direnv/bin:$PATH"
